name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  js_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: "Install pnpm"
        uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Set up Node.js
        uses: actions/setup-node@v6

      - name: Check JavaScript formatting
        run: pnpm check
